.details {
    padding: 50px 0px 0px 0px;
    max-width: 1200px;
}

.details-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    background: rgb(235, 235, 235);
    border-radius: 16px;
    padding: 15px 0px 20px 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
    max-width: 1200px;
    width: 100%;

}

.details img {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 180px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex: 0;
    justify-content: flex-start;
    object-fit: contain;

}

.details-info {
    background-color: rgb(235, 235, 235);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.details-name {
    background-color: rgb(235, 235, 235);
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}

.details-price {
    background-color: rgb(235, 235, 235);
    font-size: 20px;
    color: #525252;
    font-weight: 600;
}

.details-price strong {
    background-color: rgb(235, 235, 235);
}

.details h2 {
    padding: 20px;
}

.details-desc {

    padding: 0px 0px 0px 20px;
    font-size: 17px;
    color: #494949;
    max-width: 1200px;
}

.add-to-cart-btn-details {
    width: 100px;
    margin-top: 10px;
    padding: 8px 0;
    cursor: pointer;

    background-color: rgb(235, 235, 235);
    border: 1px solid #000;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;

    transition: all 0.2s ease;
}

.add-to-cart-btn-details:hover {
    background-color: #000;
    color: #fff;
}

.qty-controls-details {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 89px;
    background-color: rgb(235, 235, 235);

}

.qty-controls-details span {
    background-color: rgb(235, 235, 235);

}

.qty-controls-details button {
    background-color: rgb(235, 235, 235);
    width: 32px;
    height: 32px;
    border: 1px solid #0d0d0d;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.qty-controls-details button:hover {
    background-color: #000;
    color: #fff;

}