.header-container {
    padding: 50px 0px 0px 0px;
}

.header-container h3 {
    padding: 20px 0px 0px 20px;
}

.categories{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

}

.group {
    display: flex;
    padding: 15px;
}

.group img {
    flex: 1;
    width: 100%;
}

.card {
    text-decoration: none;
    color: #2e2e2e;
}

img {
    width: 100px;
    height: 100px;
}

.label {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.seller-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    padding: 20px;
}
.seller-group{
    flex: 0  calc(25% - 20px); 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(3, 3, 3, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.seller-group:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.seller-links{
    text-decoration: none;
}
.seller-linkscateg{
    text-decoration: none;
}
.seller-catergories{
    text-decoration: underline;
    color: #2e2e2e;
}
.seller-img img{
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 10px;
}
.seller-label{
    color: black;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    min-height: 60px; /* ίδιο ύψος για 3 γραμμές περίπου */
    max-height: 60px;
    overflow: hidden;
}
.seller-price{
    color: black;
    font-size: 18px;
    padding: 30px 0px 0px 10px;
    margin-top: auto;
    font-weight: 700;
    text-align: left;

}